body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/wp.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }
  body {
    font-family: 'Segoe UI Light', sans-serif;
}
  .container {
    width: 50%; 
    text-align: center;
  }
  .bar {
    background: rgb(31,0,0);
    background: linear-gradient(0deg, rgb(64, 7, 41) 0%, rgb(128, 5, 74) 100%);
    color: #fff;
    padding: 10px 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(194, 194, 194);
  }
  .links {
    margin-right: 20px;
    font-size: 20px;
  }
  .rectangle {
    width: 100%; 
    margin-top: 12px; 
    background: rgb(1,10,8, 0.5);
    height: 500px;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(194, 194, 194);
    color: white;
    display: flex;

    text-align:left;
}


  .text {
font-size: 30px;
margin-left: 14px;
}
a {
color: rgb(255, 174, 246);
  text-decoration: none;
  transition: text-shadow 0.3s ease; 
  cursor: pointer;
}

a:hover {
  text-shadow:  0px 0px 4px rgb(255, 255, 255);
}

.bottomthing{
    margin-top: 10px;
    width: 100%; 
    height: 22px;
    color: white; 
    white-space:nowrap;
    position: relative;
  }
  
  .left {
    left: 0;
    position: absolute;
  }
  .right {
    right: 0;
    position: absolute;
  }
  .blognpcontainer{
    margin-top: 12px;
    width: 100%; 
    display: flex;

  }

 

  @media only screen and (max-width:600px) {
    .container {
      width: 90%;
    }
  }

  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #313131;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #323232;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #646464;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #151515;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #252525;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #242424;
  }

  .blnpREKT {
    background: rgba(1, 10, 8, 0.5);
    height: 100px;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(194, 194, 194);
    color: white;
    text-align: left;
    flex: 1;
    display: inline-block;
    overflow: none;
    position: relative;
    cursor: pointer;
}

.blnpREKT:first-child {
  margin-right: 1.5%;
}

.album {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 15px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.nowplaying {
    margin-top: 5px;
    font-size: 12px;
    color: rgb(255, 174, 246);
}

.songname {
    font-size: 24px;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);
}

.artist {
    font-size: 18px;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.playPauseButton {
  right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: solid 3px #FFF;
    background-color: #4caf4f00;
    color: white;
width: 40px;
height: 40px;
    cursor: pointer;
}

.nun {
  display: none;
}

.profile {
  width: 180px;
  height: 100%;
  margin-right: 20px;
  background-color: rgba(53, 53, 53, 0.295);
  padding: 20px;
}
.profile img {
  width: 80%;
  height: auto;
  border: 1px solid #000;
}
.profile-info {
  margin-top: 10px;
}
.content {
  flex: 1;
  overflow-y: auto
}

.info-list {
  list-style-type: none;
  padding: 0;
}
.info-item {
  margin-bottom: 5px;
}
.label {
  color: gray;
}

.hidden {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar-content {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.album-large {
  width: 200px;
  height: 200px;
  background: #666;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.songname-large, .artist-large {
  margin: 10px 0;
}

.controls {
  margin: 20px 0;
}

.controls button {
  margin: 0 10px;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

#seekBar {
  width: 100%;
  margin: 10px 0;
}

.close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  background-image: url('img/back.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px; 
  height: 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  border: 3px solid white;
  border-radius: 50%;
  font-size: 2em;
}

 #playPauseButton1, #playPauseButtonLarge {
  background-image: url('img/play.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#prevButton {
  background-image: url('img/prev.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px; 
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#nextButton {
  background-image: url('img/next.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px; 
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

