    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #000000;
        color: white;
margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panel-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .panel {
        width: 500px;
        padding: 10px;
        transition: transform 0.3s, background-color 0.3s, height 0.3s;
        cursor: pointer;
        overflow: hidden;
    }

    .panel.unselected {
        border: 1px solid #555;
        background: rgb(46, 46, 46);
        /*"background: linear-gradient(180deg, rgba(205,205,205,1) 0%, rgba(77,77,77,1) 50%, rgba(33,33,33,1) 50%, rgba(128,128,128,1) 100%);"*/
        height: 70px;
    }

    .panel.selected {
        border: 1px solid rgb(167, 0, 92);
        background: rgb(255, 0, 140);
        /*background: linear-gradient(180deg, rgba(255,195,227,1) 0%, rgba(255,55,164,1) 50%, rgba(218,0,119,1) 50%, rgba(255,130,197,1) 100%); */
        height: 300px;

    }

    .panel.unselected p {
        opacity: 0.7;
    }

    .panel.selected p {
        opacity: 1;
    }


    .maininf {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .welcome-text {
        font-size: 3rem;
        font-weight: 150;
    }

    .clock {
        font-size: 2.7rem;
        font-weight: 150;
        color:#929292;
    }

    h2 {
        font-weight: 100;
        font-size: 2.3rem;
    }

    .extra-content {
        display: none;
margin-top: 10px;
    }



    .container {
        display: flex;
        flex-direction: column;
        gap: 5px; 
        width: 100%; 
        margin-top: 10px;
    }

    .button {
        display: flex;
        align-items: center; 
        justify-content: flex-start; 
        padding: 10px;
        text-decoration: none;
        color: white;
        font-weight: 100; 
        font-size: 20px;
        transition: background-color 0.3s, transform 0.3s;
    }
    .twitter {
        background-color: #1da1f2; 
        border: 1px solid #1a8bc9;
    }

    .youtube {
        background-color: #ff0000; 
        border: 1px solid #cc0000;
    }

    .github {
        background-color: #333; 
        border: 1px solid #222; 
    }

    .osu {
        background-color: #ff7db7; 
        border: 1px solid #e05a9c; 
    }

    .oss {
        background-image:url('img/oss.png');
        background-size: cover;
        border: 1px solid #333333; 
    }

    .streamix {
        background-image:url('img/streamix.png');
        background-size: cover;
        border: 1px solid #333333; 
    }
    .warendows {
        background-image:url('img/warendows.png');
        background-size: cover;
        border: 1px solid #333333; 
    }
    .Rettorna {
        background-image:url('img/rettorna.png');
        background-size: cover;
        border: 1px solid #333333; 
    }
    .name {
        color: rgba(255, 255, 255, 0.3); 
        margin-left: auto;
    }

    .icon {
        width: 24px; 
        height: 24px; 
        margin-right: 10px; 
    }


    .musicard {
        width: 100%;
        margin-top: 10px;
    height: 100%;
        display: flex;
        align-items: center;
    }

    .album-art img {
        width: 170px;
        height: 170px;

    }

    .song-details {
        margin-left: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .song-info h2 {
        font-size: 28px;
        margin: 0;
    }

    .song-info p {
        color: rgba(255, 255, 255, 0.69);
        margin-top: 5px;
        font-size: 20px;
        margin-bottom: 20px;
    }


    .controls {
        display: flex;
        justify-content:space-between;
        margin-bottom: 15px;
        width: 75%;
    }

    .control-btn {
        border: none;
    background-color: transparent;
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .control-icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .hidden {
        display: none;
    }

    #progress-bar {
        width: 100%;
        height: 5px;
        cursor: pointer;
    }

/* Media Queries for Mobile Screens (max-width 768px) */
@media only screen and (max-width: 768px) {
    body {
        margin-top: 50px;
    }
    h2 {
        font-size: 28px;
    }

    .panel.unselected {

        height: 60px;
    }

    .panel.selected {

        height: 280px;

    }

    .panel-container {

        gap: 5px;
    }

    .panel {
        width: 300px; 
    }


.musicard {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.album-art img {
    width: 120px;
    height: 120px;
}

.song-details {
    margin-left: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.song-info h2 {
    font-size: 22px; 
    margin: 0; 
}

.song-info p {
    font-size: 16px; 
    margin: 0;
}

.controls {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    margin-top: 10px;
}

.control-btn {
    width: 55px; 
    height: 55px; 
    margin: 0 4px;
}

#progress-bar {
    height: 4px; 
}
}